
/* Import font from Google */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Calistoga&family=Girassol&family=Gugi&family=Sofia&display=swap=Odibee+Sans&display=swap');
/* font-family: 'Anton', sans-serif;
font-family: 'Calistoga', cursive;
font-family: 'Girassol, 'cursive;
font-family: 'Gugi', cursive; */
*{
    padding: 0px !important;
    margin: 0px !important;
}

/* Header */
.header-div{
    background-color: #666699;
    text-align: center;
    padding: 5px !important;
}
.logo{
    width: 150px;
    height: 50px;
    margin-left: 20px;
}
.shop-name{
    font-size: 2.4em;
    color: white;
    font-family: calistoga;
    letter-spacing: 0.2em;
    margin: 5px !important;
}
.icon-para{
    margin: 12px !important;
}
.icons{
    font-size: 1.2em;
    color: white;
    padding: 5px 10px !important;
}
.icons:hover{
    background-color: #47476b;
    color: white;
    border-radius: 10px;
}
.navbar{
    background-color: #f0f0f5;
    padding: 7px 30px !important;
}
.nav-header{
    font-family: Calistoga;
}
.nav-item{
    margin: 5px 10px !important;
}
.nav-link{
    padding: 7px 10px!important;
    color: #47476b !important;
    font-size: 1em;
}
.active , .nav-link:hover {
    background-color: #737373;
    color: white !important;
    border-radius: 10px;
}
.nav-icons a{
    font-size: 0.8em;
    text-decoration: none !important;
    margin-right: 10px !important;
    color: #47476b !important;
}
.nav-icons{
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}
.icon-nav{
    font-size: 1.5em !important;
}




/* Slider */
.carousel-caption h5{
    color: #47476b;
    font-family: Calistoga;
    font-size: 3em;
    letter-spacing: 0.2em;
}
.carousel-caption p{
    color: #737373;
    font-family: gugi;
    font-size: 1.4em;
}
.carousel-caption{
    top: 190px;
    line-height: 50px;
}
.carousel-item{
    margin-right: -100% !important;

}




/* Products */
.heading{
    text-align: center;
    font-family: calistoga;
    letter-spacing: 0.2em;
    color: #47476b;
    padding-top: 30px !important;
    margin-bottom: 10px !important;
    text-shadow: 2px 2px 5px #666699;
}
.heading-row{
    background-color: #666699;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px !important;
}
.sub-heading{
    font-family: Odibee Sans;
    color: white;
}
.view-button{
    text-decoration: none !important;
    border: 1px solid white !important;
    border-radius: 5px;
    padding: 2px 5px !important;
    color: white !important;
}
.card-col{
    display: flex;
    justify-content: center !important;
}
.cards{
    text-align: center;
    margin: 20px 0px !important;
    width: 200px !important;
    box-shadow: 2px 2px 10px #737373;
}
.card-img{
    width: 200px !important;
    height: 160px !important;
}
.cards-content{
    font-family: Odibee Sans;
    padding: 10px 5px !important;
    background-color: #eeeeee;
}
.cards-para{
    height: 90px;
    display: flex;
    align-items: center !important;
    justify-content: center;
}
.cards-price{
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 5px !important;
}
.cart-btn{
    text-decoration: none !important;
    background-color: #47476b;
    padding: 5px 7px !important;
    color: white;
    border-radius: 5px;
    font-size: 1em;
}
.cart-btn:hover{
    color: white;
    background-color: #737373;
}


/* Footer */
.footer-div1{
    background-color: #f0f0f5;
    text-align: justify;
    font-family: Odibee Sans;
    margin-top: 20px !important;
    padding: 20px 0px !important;
}
.footer-row{
    justify-content: center !important;
}
.supplies{
    margin: 15px !important;
    width: 270px;
}
.supplies>h5{
    color: #47476b;
    padding: 10px 0px !important;
    font-size: 1.4em;
    font-weight: bold; 
}
.footer-items{
    list-style: none !important;
    color: #737373;
    font-size: 1.2em;
}
.footer-link{
    text-decoration: none !important;
    color: #737373; 
}
.footer-link:hover{
    color: #47476b;
}
.contact-icons{
    color: #666699;
    margin-right: 5px !important;
}
.social-icons{
    font-size: 1.5em !important;
    letter-spacing: 0.3em;
    margin-top: 10px !important;
    padding: 5px !important;
    color: #737373;
}
.social-icons:hover{
    color: #47476b;
    font-weight: bold;
}
.footer-div2{
    background-color: #666699;
    text-align: center;
    color: white;
    font-family: gugi;
    font-size: 0.9em;
    padding: 5px !important;
}
.footer-div2 p{
    padding: 5px !important;
    letter-spacing: 0.1em;
}


/* Back To Top */
.top a{
    position: absolute;
    bottom: 20px;
    right: 10px;
    position: fixed;
    text-decoration: none !important;
    background-color: #47476b;
    font-size: 2em;
    color: #eeeeee !important;
    padding: 0px 10px !important;
    opacity: 0.2;
}
.top a:hover{
    opacity: 0.8;
}


/* Contact Us */
.contact-col h6{
    font-family: Calistoga;
    color: #666699;
}
.contact-col p{
    color: #737373;
    font-family: Odibee Sans;
    font-size: 1.1em;
}
.contact-row{
    display: flex;
    align-items: center;
    padding: 10px !important;
}
.contact-col{
    margin: 15px 0px !important;
    display: flex;
    align-items: center;
    border-bottom: 1px dotted #737373;
}
.address-icons{
    margin: 10px 15px !important;
    font-size: 2.5em !important;
    color: #666699;
}
.frame-row h5{
    color: #666699;
    font-family: Calistoga;
    text-decoration: underline;
    padding: 20px 10px !important;
}
.frame-col{
    padding: 5px 10px !important;
}
.frame-col p{
    padding: 10px !important;
}
.contact-div1, .contact-div2{
    padding-top: 20px !important;
}
.map{
    box-shadow: 2px 2px 5px #737373;
}
.feedback{
    font-family: Odibee Sans;
    color: #737373;
    padding: 5px !important;
}
.feedback input, .feedback textarea{
    width: 90%;
    border: 2px solid #737373;
}
.feedback input:focus, .feedback textarea:focus{
    border: 2px solid #47476b;
    box-shadow: 2px 2px 3px #666699;
}
.feedback .btn{
    background-color: #47476b;
    border: none;
    padding: 5px 10px !important;
    font-size: 1.2em;
    margin-bottom: 10px !important;
}
.feedback .btn:hover{
    background-color: #737373;
}
.feedback .btn:focus{
    background-color: #737373;
    box-shadow: none;
    border: 2px solid #47476b;
}

